<?xml version="1.0"?>
<robot name="nsc_bot" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find description)/urdf/base.urdf/xacro"/>

    <xacro:base
        length="$(base_length)"
        width="$(base_width)"
        height="$(base_height)"
        mass="$(base_mass)"
    />
</robot>